<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Noticias Favoritas"></Label>
</ActionBar>

<ListView [items]="this.favoritos">
    <ng-template let-x="item">
        <AbsoluteLayout width="100%" height="100%" backgroundColor="lightgray">
            <Label [text]="x" left="1" top="100" width="74%" height="50"></Label>
            <Button text="Leer" (onTap)="leerAhora(x)" left="175" top="100" width="25%" height="50"></Button>
        </AbsoluteLayout>
    </ng-template>
</ListView>