<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<GridLayout class="page__content">
    <StackLayout>
        <Label class="page__content-icon fas" text="&#xf013;"></Label>

        <Label text="Nombre Usuario:"></Label>
        <TextField #texto="ngModel" [(ngModel)]="nombreUsuario" required></TextField>
        <Label style="color: red;" *ngIf="texto.hasError('required')" text="input empty"></Label>
        <Button text="Guardar" (tap)="onButtonTap()" [isEnabled]="!texto.hasError('required')"></Button>

    </StackLayout>
</GridLayout>