<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<GridLayout class="page__content">
    <StackLayout #layout>
        <SearchForm (searchEvent)="buscarAhora($event)"></SearchForm>

        <PullToRefresh indicatorFillColor="#fff000" indicatorColor="#3489db">
            <ListView [items]="this.resultados" (itemTap)="onItemTap($event)">
                <ng-template let-x="item">
                    <FlexboxLayout>
                        <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress(x)"></Image>
                        <!-- <Label [text]="x" (tap)="onNavItemTap('/noticias', x)"></Label> -->
                        <Label [text]="x"></Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView>

        </PullToRefresh>
    </StackLayout>


</GridLayout>