<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Button text="Foto" (tap)="onButtonTap()"></Button>
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
    
    <!--
    <GridLayout rows="auto, 25" columns="auto,*,auto" verticalAlignment="top" backgroundColor="lightgray">
        <Image src="res://icon" width="72" height="72" verticalAlignment="top" margin="3" rowSpan="2"></Image>
        <Label text="Excelente hotel" fontSize="20" col="1" textWrap="true" colSpan="2" margin="3" minHeight="50"></Label>
        <Label text="Usuario: Carlos Perez" row="1" col="1" fontSize="14" verticalAlignment="bottom" horizontalAlignment="left" margin="3"></Label>
        <Label text="Puntaje: 4.3" row="1" col="2" fontSize="14" verticalAlignment="bottom" margin="3"></Label>
    </GridLayout>
-->

    <Label style="font-size: 20px;" text="Noticias Leidas: "></Label>
    <ListView style="margin-top: 80px;" [items]="this.leidos">
        <ng-template let-x="item">
                <Label style="font-size: 18px;" [text]="x.titulo"></Label>
        </ng-template>
    </ListView>

</GridLayout>